#!/bin/bash
# Managed by Ansible

BACKUP_DIR="/var/backups/postgres"
TIMESTAMP=$(date +\%F-\%H\%M\%S)
DATABASE="{{ db_name }}"
USER="postgres"

mkdir -p "$BACKUP_DIR"
pg_dump -U "$USER" -d "$DATABASE" -F c -b -v -f "$BACKUP_DIR/$DATABASE-$TIMESTAMP.backup"

# Keep only the last 7 days of backups
find "$BACKUP_DIR" -type f -mtime +7 -name "*.backup" -delete
